@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

.top-bar {
    display: grid;
    align-items: center;
    justify-items: center;
    position: fixed;
    height: 75px;
    width: 100vw;
    border-bottom: 1px solid #D1D5DB;
    top: 0px;
    /*padding-left: 60px;*/
    margin: 0px;
    /*margin-right: 20px;*/
    grid-template-columns: repeat(20, 1fr);
}

.side-nav {
    position: fixed;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-rows: repeat(10, 75px);
    grid-template-columns: 60px;
    width: 60px;
    /*max-width: 75px;*/
    height: 100vh;
    z-index: 100;
    background-color: #F3F4F6;

}
.side-nav-expanded {
    position: fixed;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-rows: repeat(10, 75px);
    grid-template-columns: 400px;
    width: 400px;
    /*max-width: 75px;*/
    height: 100vh;
    z-index: 100;
    background-color: #F3F4F6;
    border-right: 2px solid #6B7280;

}


.user-info-container {
    width: 20vw;
    height: 75px;
    grid-column-start: 16;
    grid-column-end: 20;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    font-family: 'Roboto', sans-serif;
    color: #6B7280;
    font-size: 1.2em;

}

.logo-container {
    grid-column-start: 3;

}

.user-name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    align-self: end;
    font-weight: bolder;
}

.user-settings-shortcut {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: end;
    align-self: start;
    font-weight: lighter;
    font-size: 0.8em;
}
.user-settings-shortcut a{
    text-decoration: none;
    color: inherit;
}

.user-avatar {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    justify-self: center;
    align-self: center;

}

.sidebar-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button:hover{

    background-color: #D1D5DB;
}

#sidebar-menu-button{
    background-color: #6B7280;
}

.sidebar-button-expanded{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
}

.sidebar-button-expanded:hover{
    background-color: #D1D5DB;
}

#sidebar-menu-button-expanded{
    background-color: #6B7280;
}

#sidebar-searchbar{
    margin: 15px 25px;
    border: 1px solid #6B7280;

}





